<div class="card text-white bg-success">
    <div class="card-header">
        Now Online
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Members &middot; 542</li>
        <li class="list-group-item">Managers &middot; 57</li>
        <li class="list-group-item">Visitors &middot; 5487</li>
    </ul>
</div>