/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
.ef-breadcrumb {
    margin-top: 21px;
    margin-bottom: 21px;
    font-size: 13px;
}