.footer {
    width: 100%;
}
.footer .footer-copyright {
    font-size: 13px;
    text-align: center;
    padding: 11px;
    background-color: #6e716e;
    color: #ffffff;
}
.footer .footer-content {
    background-color: #f4f4f4;
    padding: 21px 0;
}
.footer .footer-content ul {
    list-style-type: none;
    margin: 0;
}
.footer .footer-content ul li {
    display: block;
}
.footer .footer-content ul li a {
    display: block;
    text-decoration: none;
    color: #888888;
    padding: 3px;
}
.footer .footer-content ul li a:hover {

}
