/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

html, body {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.main-container {
    h2 {
        padding: 31px 11px;
    }
}