/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

html, body {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #000000;
}

a {
    text-decoration: none;
}

.main-container {
    h2 {
        padding: 31px 11px;
    }
}

.btn {
    @media (min-width: 768px) {
        .button-66 {
            padding: 16px 44px;
            min-width: 150px;
        }
    }

    &.btn-primary {
        box-shadow: inset 0 3px 1px #0a60e0;
    }
    &.btn-light {
        border: 1px solid #797979;
        box-shadow: inset 0 3px 1px #f9f9f9;
        background-color: #ffffff;
    }
}