.panel.wrapper {
    width: 100%;
    color: #ffffff;
    background-color: #888;
    padding: 7px;
    text-align: right;
    font-size: 15px;
}

.panel.wrapper .website-switcher {
    display: inline-block;
}
.panel.wrapper .website-switcher a.switcher-dropdown {
    color: #ffffff;
}

.panel.wrapper .user {
    display: inline-block;
    margin-left: 21px;
}
.panel.wrapper .user a {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}