/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

$border-radius: .25rem;

$input-font-size: 15px;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-border-color: #ccc;
$input-border-radius: 3px;

$form-select-focus-box-shadow: none;
$form-select-box-shadow: none;

$tooltip-margin: 5px;