<div
        data-controller="email-editor"
        id="{{ block.getNameInLayout() }}"
        aria-describedby="{{ block.getNameInLayout() }}"
></div>

<style>
    .gjs-editor-cont {
        height: 100% !important;
    }
    #gjs {
        border: none;
        padding-left: 30px;
    }
    /* Theming */

    /* Primary color for the background */
    .gjs-one-bg {
        background-color: #373330;
    }

    /* Secondary color for the text color */
    .gjs-two-color {
        color: rgba(255, 255, 255, 0.7);
    }

    /* Tertiary color for the background */
    .gjs-three-bg {
        background-color: #0d6efd;
        color: white;
    }

    /* Quaternary color for the text color */
    .gjs-four-color,
    .gjs-four-color-h:hover {
        color: #0d6efd;
    }
</style>