<form class="d-flex" role="search" style="margin-right: 11px;">
    <div class="input-group">
        <input type="text" style="width: 250px" class="form-control" placeholder="Search anything here .."
               aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn" type="button" id="button-addon2"
                style="border: 1px solid #CCC; border-left: 0; padding-top: 0;">
            <img src="{{ asset('bundles/programcmsforum/images/search.png') }}"
                 style="width: 15px; height: 15px"/>
        </button>
    </div>
</form>