{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<form action="{{ block.getSearchUrl() }}" method="GET" class="d-flex" role="search" style="margin-right: 11px;">
    <div class="input-group">
        <input type="text" name="q" style="width: 290px" class="form-control" placeholder="{{ block.trans('Search anything here ..') }}">
        <button class="btn" type="submit" id="button-mini-search"
                style="border: 1px solid #CCC; padding-top: 0;">
            <img src="{{ asset('bundles/programcmsui/images/search.png') }}"
                 style="width: 15px; height: 15px" alt=""/>
        </button>
    </div>
</form>