RewriteEngine on

SetEnvIf Host .*dev-programcms.* PROGRAMCMS_RUN_CODE=en
SetEnvIf Host .*dev-programcms.* PROGRAMCMS_RUN_TYPE=website_view

SetEnvIf Host ar\.dev-programcms.* PROGRAMCMS_RUN_CODE=kooora_forums_ar
SetEnvIf Host ar\.dev-programcms.* PROGRAMCMS_RUN_TYPE=website_view

SetEnvIf Host .*dev-sport.* PROGRAMCMS_RUN_CODE=star_en
SetEnvIf Host .*dev-sport.* PROGRAMCMS_RUN_TYPE=website_view

SetEnvIf Host ar\.dev-sport.* PROGRAMCMS_RUN_CODE=star_ar
SetEnvIf Host ar\.dev-sport.* PROGRAMCMS_RUN_TYPE=website_view