{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div
    class="{{ block.getName() }}"
    data-controller="app"
    data-app-component-value="{{ block.getName() }}"
></div>