{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div data-controller="report">
    <h5 style="font-size: 17px;">{{ block.trans("Websites's Evolution") }}</h5>
    <p class="text-muted" style="font-size: 14px;">{{ block.trans("Analyze your business progress over the last 6 months") }}</p>
    <canvas id="myChart" style="width: 100%;"></canvas>
</div>