<div data-controller="report">
    <h5 style="font-size: 17px;">Websites's Evolution</h5>
    <p class="text-muted" style="font-size: 14px;">Analyze your busniss progess over the last 6 months</p>
    <canvas id="myChart" style="width: 100%;"></canvas>
</div>