/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

@import "_begin-ignore.css";
@import '~grapesjs/dist/css/grapes.min.css';
@import "coloris";
@import "_end-ignore.css";

.pcms-editor {
  width: 100%;
  height: 100%;
  display: none;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: calc(100% - 40px - 58px);
}

.editor-column {
  flex: 1; /* Each column takes equal width */
  background-color: #FFFFFF;
}

.editor-rte-action {
  margin: 0 2px 0 2px;
  border-radius: 3px;
  cursor: pointer;
}
.editor-icon {
  width: 29px;
  height: 29px;
}
.editor-rte-action:hover {
  background-color: #CCCCCC;
}
.editor-rte-action.active {
  background-color: #CCCCCC;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center items */
}

.image-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-input-container img {
  max-width: 100px;
}

.post_title {
  width: 400px;
  border: 0;
  outline: none;
  box-shadow: none;
  background-color: inherit;
  font-size: 16px;
}

.editor-header ::placeholder {
  color: #000000;
  opacity: 1; /* Firefox */
}

.editor-header ::-ms-input-placeholder { /* Edge 12 -18 */
  color: #000000;
}

.gjs-one-bg {
  background-color: #FFFFFF;
  color: #000000;
}

.btn-redo {
  background: url("../../../../../public/images/editor/redo.png") no-repeat center center;
}

.btn-undo {
  background: url("../../../../../public/images/editor/undo.png") no-repeat center center;
}

.btn-print {
  background: url("../../../../../public/images/editor/print.png") no-repeat center center;
}

.btn-bold {
  background: url("../../../../../public/images/editor/bold.png") no-repeat center center;
}

.btn-italic {
  background: url("../../../../../public/images/editor/italic.png") no-repeat center center;
}

.btn-underline {
  background: url("../../../../../public/images/editor/underline.png") no-repeat center center;
}

.btn-text-color {
  position: relative;
  background: url("../../../../../public/images/editor/text-color.png") no-repeat center 3px;
}

.btn-link {
  position: relative;
  background: url("../../../../../public/images/editor/link.png") no-repeat center center;
}

.btn-image {
  position: relative;
  background: url("../../../../../public/images/editor/image.png") no-repeat center center;
}

.btn-unordered-list {
  position: relative;
  background: url("../../../../../public/images/editor/unordered-list.png") no-repeat center center;
}

.btn-numbered-list {
  position: relative;
  background: url("../../../../../public/images/editor/numbered-list.png") no-repeat center center;
}

.btn-check-list {
  position: relative;
  background: url("../../../../../public/images/editor/check-list.png") no-repeat center center;
}

.btn-center-align {
  position: relative;
  background: url("../../../../../public/images/editor/center-align.png") no-repeat center center;
}

.btn-left-align {
  position: relative;
  background: url("../../../../../public/images/editor/left-align.png") no-repeat center center;
}

.btn-right-align {
  position: relative;
  background: url("../../../../../public/images/editor/right-align.png") no-repeat center center;
}

.editor-dropdown {
  background-color: inherit;
  padding: 0 9px 0 9px;
  border: 0;
  color: #000000;
  font-size: 15px;
  margin-top: 5px;
  z-index: 100;
}

.panel__actions {
  display: flex;
  position: relative;
  padding: 0 5px 0 5px;
}
.panel__actions:after {
  content: '';
  height: 50%;
  width: 1px;
  position: absolute;
  left: 0;
  top: 25%;
  background-color: #c2c0c0;
}

.panel__top {
  display: flex;
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
  padding: 3px 0 3px 0;
}

.gjs-highlighter {
  outline: none !important;
  box-shadow: none !important;
}

.gjs-badge {
  display: none !important;
}

.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}
.panel__basic-actions-zoom {
  position: static;
}
.panel__basic-actions-title {
  position: static;
}

.editor-canvas {
  flex-grow: 4;
}

.panel__left {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}

.block-icon {
  width: 50px;
  height: 50px;

  &.section-icon {
    background: url("../../../../../public/images/editor/undo.png") no-repeat center center;
  }
}

.gjs-block {
  width: 28% !important;
  min-height: 70px !important;

  .gjs-block-label {
    font-weight: bold;
  }

  &.gjs-four-color-h:hover {
    color: #0a58ca;
  }
}

#components {
  overflow-y: auto;
  border-left: 1px solid #CCC;
}
*::-webkit-scrollbar-thumb {background: #888 !important;}
*::-webkit-scrollbar-track {background: inherit !important;}