{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="mb-3 mt-4 form-check">
    <input type="checkbox" class="form-check-input" id="newsletter" checked>
    <label class="form-check-label" for="newsletter">
        {{ block.trans('I want to be informed by email for updated topics.') }}
    </label>
</div>