/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8) url("../../../../../public/images/loader/spinner-1.5s-90px.gif") center no-repeat;
}

body.loading {
  overflow: hidden;
}

body.loading .overlay {
  display: block;
}