/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

$border-radius: .25rem;

$input-font-size: 15px;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-border-color: #adacac;
$input-border-radius: 3px;

$form-select-focus-box-shadow: none;
$form-select-box-shadow: none;

// Modals
$modal-inner-padding: 2rem * .5;
$modal-header-border-width: 0;
$modal-content-border-radius: .3rem;
$modal-footer-border-width: 0;

// Checks / Radios
$form-check-input-border: 1px solid rgba(0, 0, 0, .50);