<ul class="navbar-nav mb-2 mb-lg-0">
    <span style="padding-top: 8px; font-size: 13px; font-weight: bold">Scope:</span>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="font-size: 14px;" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Website Views
        </a>
        <div class="dropdown-menu" style="font-size: 14px;">
            <a class="dropdown-item disabled" href="#">All Website Views</a>
            <a class="dropdown-item disabled" href="#">Main Root Website</a>
            <a class="dropdown-item disabled" style="padding-left: 30px;" href="#">Main Website</a>
            <a class="dropdown-item" style="padding-left: 45px;" href="#">Main Website View</a>
        </div>
    </li>
</ul>