{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="row">
    <div class="col-md-6 mb-5">
        <h5 class="card-title">{{ block.trans('Profile') }}</h5>
        <p class="card-text">Your Profile is Completed in 24%</p>
    </div>
    <div class="col-md-6 mb-5">
        <h5 class="card-title">{{ block.trans('Favorite') }}</h5>
        <p class="card-text">You have <b>23</b> subjects in your list.</p>
    </div>
    <div class="col-md-6 mb-5">
        <h5 class="card-title">{{ block.trans('Newsletter') }}</h5>
        <p class="card-text">You're subscribing to <b>General</b> Newsletter</p>
    </div>
</div>