{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="col-md-3">
    <nav class="nav flex-column">
        <a class="nav-link active" href="{{ path('electro_forums_user_edit_dashboard') }}">Dashboard</a>
        <a class="nav-link" href="{{ path('electro_forums_user_edit_informations') }}">Edit Informations</a>
        <a class="nav-link" href="{{ path('electro_forums_user_edit_password') }}">Update Password</a>
        <a class="nav-link" href="#">Favorite List</a>
        <a class="nav-link" href="#">Newsletter</a>
        <a class="nav-link" href="#">Reports</a>
        <a class="nav-link" style="color: #888;" href="#">Delete my account</a>
    </nav>
</div>