<form>
    <div class="row mb-4">
        <div class="col">
            <label class="form-label" for="inputPassword6">New Password</label>
            <input type="password" id="inputPassword6" class="form-control">
            <small id="passwordHelpInline" class="text-muted">
                Must be 8-20 characters long.
            </small>
        </div>
        <div class="col">
            <label class="form-label" for="inputPassword6">Confirm Password</label>
            <input type="password" id="inputPassword6" class="form-control">
            <small id="passwordHelpInline" class="text-muted">
                Must be 8-20 characters long.
            </small>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Update Password">
        </div>
    </div>
</form>