{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
{% if block.isActive() %}
    <div class="breadcrumb-container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ block.trans('Dashboard') }}</a></li>
                <li class="breadcrumb-item active">{{ block.trans('All Users') }}</li>
            </ol>
        </nav>
    </div>
{% endif %}