{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<form id="{{ block.getName() }}" action="{{ block.getAction() }}" method="POST" enctype="multipart/form-data">
    {% for element in block.getChildBlocks() %}
        {{ element.toHtml()|raw }}
    {% endfor %}
</form>