<div class="">
    <h5><a class="" style="color: #000000" data-bs-toggle="collapse" href="#collapseExample" role="button"
           aria-expanded="false" aria-controls="collapseExample">
        Web Site Information
    </a></h5>
    <div class="collapse show" id="collapseExample">
        <form>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Name *</label>
                </div>
                <div class="col-6">
                    <input type="text" id="inputPassword6" class="form-control" placeholder="Ex: Arabe Website"
                           aria-describedby="passwordHelpInline">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Code *</label>
                </div>
                <div class="col-6">
                    <input type="text" id="inputPassword6" class="form-control" placeholder="Ex: ar"
                           aria-describedby="passwordHelpInline">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Sort Order</label>
                </div>
                <div class="col-6">
                    <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Status</label>
                </div>
                <div class="col-6">
                    <select class="form-select">
                        <option value="1">Enabled</option>
                        <option value="0" selected>Disabled</option>
                    </select>
                    <div id="emailHelp" class="form-text">We recommend disabling website on creation.</div>
                </div>
            </div>
        </form>
    </div>
</div>