/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

.account-nav {
  .nav-link {
    padding: 5px 0 5px 5px;
  }

  .active {
    position: relative;
    font-weight: bold;
    color: #000000;
    padding-left: 17px;
  }

  .active:after {
    content: '';
    height: 70%; //You can change this if you want smaller/bigger borders
    width: 3px;
    position: absolute;
    left: 0;
    top: 11%; // If yo u want to set a smaller height and center it, change this value
    background-color: #d7520b; // The color of your border
  }
}