{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="mb-5" style="padding: 19px 0; border-bottom: 1px solid #dedede; border-top: 1px solid #dedede;">
    <button class="btn btn-primary float-end">
        {{ block.trans('Go to Advanced Reporting') }}
        <img style="margin-top: -7px;" src="{{ asset('bundles/programcmsadmin/images/link.png') }}" alt=""/>
    </button>
    <h5 style="font-size: 15px; font-weight: bold">{{ block.trans('Advanced Reporting') }}</h5>
    <p style="margin: 0; font-size: 14px;">{{ block.trans("Gain new insights and take order of your business performance, using our dynamic content, marketing and client reports tailored to your client data.") }}</p>
</div>