{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="dropdown website-switcher">
    <a href="#" class="dropdown-toggle switcher-dropdown" type="button" id="dropdownMenuButton"
       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ block.getCurrentWebsiteName() }}
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for website in block.getWebsites() %}
            <a class="dropdown-item" href="{{ website.url }}">{{ website.name }}</a>
        {% endfor %}
    </div>
</div>