{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-striped">
                <tr>
                    <td class="text-muted">Last Logged In:</td>
                    <td>Never (Offline)</td>
                </tr>
                <tr>
                    <td class="text-muted">Account Lock:</td>
                    <td>Unlocked</td>
                </tr>
                <tr>
                    <td class="text-muted">Confirmed email:</td>
                    <td>Confirmation Not Required</td>
                </tr>
                <tr>
                    <td class="text-muted">Account Created:</td>
                    <td>Jan 14, 2019, 9:40:25 AM</td>
                </tr>
                <tr>
                    <td class="text-muted">Account Created in:</td>
                    <td>Default Website View</td>
                </tr>
            </table>
        </div>
        <div class="col-md-5">
            <div class="mb-2" style="font-weight: bold">العنوان الافتراضي</div>
            <p>
                Veronica Costello<br>
                6146 Honey Bluff Parkway<br>
                Calder, Michigan, 49628-7978<br>
                United States<br>
                T: (555) 229-3326
            </p>
        </div>
    </div>
</div>