{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="file_manager row mt-1 mb-5" data-controller="file-manager">
<p class="ps-3 text-muted loader_container">
    <small>{{ block.trans('Loading from PDrive ...') }}</small>
</p>
</div>
<div class="file_manager_dragover"></div>