{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<form class="d-flex ms-4" role="presentation">
    <div class="input-group" style="width: 370px">
        <button class="btn pt-1" type="button" id="button-filter-list"
                style="border: 1px solid #CCC;">
            <img src="{{ asset('bundles/programcmsdrive/images/list.png') }}"
                 style="width: 15px; height: 15px" alt=""/>
        </button>
        <button class="btn pt-1" type="button" id="button-filter-card"
                style="border: 1px solid #CCC;">
            <img src="{{ asset('bundles/programcmsdrive/images/rect.png') }}"
                 style="width: 15px; height: 15px" alt=""/>
        </button>
    </div>
</form>