{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="category-buttons pt-3">
    <div class="d-grid">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a href="{{ block.getNewRootCategoryUrl() }}" class="btn btn-secondary btn-sm add-category" id="root">
                {{ block.trans('New Root Category') }}
            </a>
            <a href="{{ block.getNewSubCategoryUrl() }}" class="btn btn-outline-secondary btn-sm add-category" id="subcategory">
                {{ block.trans('Add Subcategory') }}
            </a>
        </div>
    </div>
</div>