{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="ef-breadcrumb">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ block.trans('Home') }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ block.trans('Login') }}</li>
            </ol>
        </nav>
    </div>
</div>
