{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<a class="navbar-brand ps-3 pt-0 mt-0" href="{{ path('frontend_cms_index_index') }}">
    <img
        src="{{ asset('bundles/programcmstheme/images/logo.png') }}"
        alt="{{ block.trans('Logo') }}"
        title="{{ block.trans('Logo') }}"
    />
</a>