{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<a class="navbar-brand" href="{{ path('frontend_cms_index_index') }}">
    <img src="{{ asset('bundles/programcmstheme/images/logo.png') }}" />
    <span style="color: #379DFF; font-weight: bold">rogramCMS</span>
</a>