{% extends '@ElectroForumsTheme/adminhtml/layout.html.twig' %}

{% block title %}All Websites{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_title %}All Web Sites{% endblock %}

{% block content %}

    {{ component('toolbar', {buttons: buttons, includeWebsiteSwitcher: true}) }}

    <div class="mb-3">
        <nav class="navbar navbar-expand-lg">
            <div class="navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex" role="search" style="margin-right: 11px;">
                    <div class="input-group">
                        <input type="text" style="width: 300px" class="form-control" placeholder="Search by Keyword .." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn" type="button" id="button-addon2"
                                style="border: 1px solid #CCC; border-left: 0; padding-top: 0;">
                            <img src="{{ asset('bundles/electroforumsforum/images/search.png') }}" style="width: 15px; height: 15px"/>
                        </button>
                    </div>
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filters
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Profile</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Columns
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Profile</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Export
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">PDF</a>
                            <a class="dropdown-item" href="#">CSV</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg">
            <div class="navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex me-5" role="search">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Select an Action</option>
                            <option value="1">Delete</option>
                            <option value="2">Activate</option>
                            <option value="3">Desactivate</option>
                        </select>
                        <label for="floatingSelect">Bulk Actions</label>
                    </div>
                </form>
                <span class="mb-0">3 records found</span>
                <ul class="pagination justify-content-end ms-auto mt-2">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
            <th>#</th>
            <th>Root Website</th>
            <th>Website</th>
            <th>Website View</th>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a href="#">Main Root Website</a></td>
            <td>
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                    <a href="#">Main Website</a>
                </span>
            </td>
            <td>
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                    <a href="#">Default Website View</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}