{% extends '@ElectroForumsTheme/adminhtml/layout.html.twig' %}

{% block title %}All Websites{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/electroforumsuser/css/app.css') }}">
{% endblock %}

{% block page_title %}All Websites{% endblock %}
{% block page_tip %}Browse / Edit Clients{% endblock %}

{% block content %}

    <table class="table table-striped">
        <thead>
        <th>#</th>
        <th>Name</th>
        <th>Code</th>
        <th></th>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Default Website</td>
            <td>
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                    default-website
                </span>
            </td>
            <td>
                <div class="btn-group dropstart">
                    <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true"
                       aria-expanded="false">
                        Edit
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Edit</a></li>
                        <li><a class="dropdown-item" href="#">Lock</a></li>
                        <li><a class="dropdown-item" href="#">Message</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}