/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

.block_title_1 {
  font-size: 17px;
  font-weight: bold;
}

.block_title_2 {
  font-size: 23px;
  font-weight: bold;
}

.block_font_tahoma {
  font-family: Tahoma, sans-serif;
}