{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<span>
    <b style="color: #5e5e5e">ProgramCMS</b>
    <span>CE v1.0.0</span>
</span>