
    <script type="text/javascript" src="{{ asset('bundles/programcmstheme/js/lib/chart.js') }}"></script>
    <script>
        $(function() {
            const ctx = document.getElementById('myChart');
            const ctxLine = document.getElementById('myChartLine');
            //const labels = Utils.months({count: 7});

            new Chart(ctxLine, {
                type: 'bar',
                data: {
                    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                    datasets: [{
                        label: '% of Progress',
                        data: [12, 19, 0, 0, 0, 0],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                    datasets: [{
                        label: 'My First Dataset',
                        data: [65, 59, 80, 81, 56, 55, 40],
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                }
            });
        });
    </script>

    <div style="padding: 19px 0; border-bottom: 1px solid #dedede; border-top: 1px solid #dedede;">
        <button class="btn btn-primary float-end">
            Go to Advanced Reporting
            <img style="margin-top: -7px;" src="{{ asset('bundles/programcmsadmin/images/link.png') }}" />
        </button>
        <h5 style="font-size: 19px;">Advanced Reporting</h5>
        <p style="color: #888888; margin: 0; font-size: 14px;">Gain new insights and take order of your business' performance, using our dynamic content, marketing and client reports tailored to your client data.</p>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div>
                <h5 style="font-size: 17px;">Websites's Evolution</h5>
                <p class="text-muted" style="font-size: 14px;">Analyze your busniss progess over the last 6 months</p>
                <canvas id="myChart" style="width: 100%;"></canvas>
            </div>
            <div class="mt-5">
                <h5 style="font-size: 17px;">Last Posts</h5>
                <p class="text-muted" style="font-size: 14px;">Analyze your busniss progess</p>
                <table class="table">
                    <thead>
                    <tr style="font-size: 14px;">
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col" style="text-align: right">Replies</th>
                        <th scope="col" style="text-align: right">Views</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="#">Mark</a></td>
                        <td style="text-align: right">54</td>
                        <td style="text-align: right">514</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-5">
                <h5 style="font-size: 17px;">Last Search Terms</h5>
                <p class="text-muted" style="font-size: 14px;">Analyze your busniss progess</p>
                <table class="table">
                    <thead>
                    <tr style="font-size: 14px;">
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">User</th>
                        <th scope="col" style="text-align: right">Results</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Editor JS</td>
                        <td><a href="#">Mark</a></td>
                        <td style="text-align: right">514</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Posts</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Interactions</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">New Users</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Users</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table">
                        <thead>
                        <tr style="font-size: 14px;">
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">User</th>
                            <th scope="col" style="text-align: right">Views</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Write your own Wysiwyg Editor using JS</td>
                            <td><a href="#">Mark</a></td>
                            <td style="text-align: right">514</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Welcome to ProgramCMS</td>
                            <td><a href="#">Mohamed</a></td>
                            <td style="text-align: right">714</td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <canvas id="myChartLine" style="width: 100%;"></canvas>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
    </div>