{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<p>
    <a href="#">Privacy Policy</a> &middot;
    <a href="#">Account Activity</a> &middot;
    <a href="https://github.com/elquchiri/programcms/issues" target="_blank">Report an Issue</a>
</p>