{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div
    data-controller="editor"
    id="{{ block.getName() }}"
    class="editor"
    aria-describedby="{{ block.getId() }}"
    data-editor-placeholder-value="{{ block.getPlaceholder() }}"
></div>