{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="btn-group mt-1" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-secondary btn-sm">Upload</button>
    <button type="button" class="btn btn-outline-secondary btn-sm">Select from Gallery</button>
</div>
<div class="image-uploader">
    <p>Browse to Find or drag image here</p>
</div>