<div class="btn-group mt-1" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-secondary btn-sm">Upload</button>
    <button type="button" class="btn btn-outline-secondary btn-sm">Select from Gallery</button>
</div>