{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<p class="mt-2">
    {% if block.hasValue() %}
        {{ block.getValue() }}
    {% endif %}
</p>