{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<select name="{{ efBlock.getName() }}" class="form-select" id="{{ efBlock.getName() }}">
    {% for optionKey, option in efBlock.getOptions() %}
        <option value="{{ optionKey }}">{{ option }}</option>
    {% endfor %}
</select>