{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<select
    name="{{ block.getName() }}"
    class="form-select {% if block.isMultiSelect() %}multiselect{% endif %}"
    id="{{ block.getName() }}"
    {% if block.isMultiSelect() == true %}multiple{% endif %}>
    {% for optionKey, option in block.getOptions() %}
        <option
            value="{{ optionKey }}"
            {% if block.hasValue() and block.getValue() == optionKey %}selected{% endif %}>
            {{ option }}
        </option>
    {% endfor %}
</select>
