{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="form-check form-switch pt-1">
    <input class="form-check-input ef-checkbox-switcher" name="{{ block.getName() }}" type="checkbox" role="switch" id="{{ block.getName() }}">
</div>