{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="form-check form-switch">
    <input type="hidden" name="{{ block.getName() }}" value="off"/>
    <input
        class="form-check-input checkbox-switcher"
        name="{{ block.getName() }}"
        type="checkbox"
        role="switch"
        id="{{ block.getName() }}"
        {% if block.hasValue() and block.getValue() == 'on' %}checked{% endif %}>
</div>