.ef-buttons-bar {
    margin-bottom: 21px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    background-color: #f8f8f8;
    padding: 15px 11px 15px 11px;
    text-align: right;
}

.ef-buttons-bar .nav-item {
    margin-left: 11px;
}