/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
.collapser {
    border-bottom: 1px solid #dedede;

    .collapser-container {
        padding-top: 11px;

        .multiselect {
            height: 300px;

            option {
                padding: 5px;
            }
        }
    }

    a {
        &.collapser-label {
            font-size: 15px;
            padding-bottom: 18px;
            padding-top: 18px;
            font-weight: bold;
            color: #232222;
            display: block;
            background: url('../../../../../public/images/down-arrow.png') no-repeat 99% 17px;

            &.open {
                background: url('../../../../../public/images/up-arrow.png') no-repeat 99% 17px;
            }
        }
    }
}
