/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

.editor {
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: .5rem .5rem .5rem 0;
}