/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

.image-uploader {
  border: 1px solid #dee2e6;
  background: url('../../../../../public/images/upload.png') no-repeat center 13px;
  width: 125px;
  height: 125px;
  margin-top: 13px;
  padding-top: 69px;
  font-size: 13px;
  text-align: center;
  border-radius: 3px;
  color: #0D6EFDFF;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  &:hover {
    opacity: 1;
  }
}