/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

.form-select {
  cursor: pointer;
  background-image: url('../../../../../../public/images/arrows-bg.svg'),linear-gradient(#e3e3e3, #e3e3e3),linear-gradient(#adadad, #adadad);
  background-position: calc(100% - 16px) -32px,100%,calc(100% - 2.5rem) 0;
  background-size: auto,2.5rem 100%,1px 100%;
  background-repeat: no-repeat;
}
