/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
.website-switcher {
  font-size: 14px;

  .website-switcher-group {
    padding-left: 30px;
  }

  .website-switcher-view {
    padding-left: 45px;
  }
}