/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

.config-menu {
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 3px;
}
.config-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.config-menu ul.child {
    padding: 5px 0 5px 5px;
    border-top: 1px solid #e3e3e3;
    display: none;
}
.config-menu ul li {
    border-top: 1px solid #e3e3e3;
}
.config-menu ul.child {
    background-color: #eee;
}
.config-menu ul.child li {
    border: 0;
}
.config-menu ul.child li a {
    font-size: 15px;
}
.config-menu ul.child li a.active {
    border-left: 4px solid #d7520b;
    background-color: #ffffff;
    border-right: 0;
    font-weight: bold;
    font-size: 14px;
}
.config-menu ul li a {
    display: block;
    padding: 13px;
    text-decoration: none;
    color: #232222;
    border-right: 1px solid #e3e3e3;
}
.config-menu ul li.root a {
    background: #ffffff url('../../../../../public/images/down-arrow.png') no-repeat 95% center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
}
.config-menu ul li.root.open a {
    background: #eee url('../../../../../public/images/up-arrow.png') no-repeat 95% center;
}
.config-menu ul li a:hover {
    background-color: #e3e3e3;
}