{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="tabs-menu" data-controller="tabs">
    <ul>
        <li class="root open">
            <a>{{ block.getTabLabel() }}</a>
        </li>
        {% if block.getTabs is defined %}
            <ul class="child" style="display: block">
                {% for tabId, tab in block.getTabs %}
                    <li>
                        <a class="{% if tab.active %}active{% endif %}"
                           href="#{{ tabId }}"
                           id="{{ tabId }}"
                           data-action="tabs#tabClick">
                            {{ tab.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </ul>
</div>