{% extends '@ElectroForumsTheme/frontend/layout.html.twig' %}

{% block title %}Welcome to ElectroForums !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/electroforumscms/css/frontend/home.cms.css') }}">
{% endblock %}

{% block page_title %}Home{% endblock %}
{% block page_tip %}Welcome to ElectroForums.{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding: 21px;">
        <div class="row home-cms">
            <div class="col-md-2 home-cms-right-panel">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-3">Written by,</h5>
                        <div class="panel-body inf-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                                </div>
                                <div class="col-md-6">
                                    <strong>{{ app.user.getUserFirstname() }}</strong>
                                    <p style="font-size: 14px;"><b>5785</b> replies</p>
                                    <p style="font-size: 13px;">
                                        <a href="#">Profile</a>
                                        &middot;
                                        <a href="{{ path('electro_forums_user_edit_dashboard') }}">Edit</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card text-white bg-success">
                    <div class="card-header">
                        Now Reading
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Members &middot; 542</li>
                        <li class="list-group-item">Visitors &middot; 5487</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <h3>Welcome Forum !</h3>
            </div>
        </div>
    </div>
{% endblock %}