<div class="share_post_container mt-5 mb-3" style="border-bottom: 1px solid #eee;">
    <div class="text-muted fw-bold"><small>Share Post :</small></div>
    <div class="share_providers pt-2 pb-2">
        <img src="{{ asset('bundles/programcmssocialshare/images/facebook.png') }}" alt=""/>
        <img src="{{ asset('bundles/programcmssocialshare/images/instagram.png') }}" alt=""/>
        <img src="{{ asset('bundles/programcmssocialshare/images/twitter.png') }}" alt=""/>
        <img src="{{ asset('bundles/programcmssocialshare/images/linkedin.png') }}" alt=""/>
    </div>
</div>