{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">My Posts</a>
                <a class="dropdown-item" href="#">My Replies</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('frontend_user_edit_index') }}">Edit Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('frontend_user_account_logout') }}">Logout</a>
            </div>
        </li>
    </ul>
{% endif %}