{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == 'success' %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if label == 'danger' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}