<div class="footer">
    <div class="footer-content">
        <div class="row">
            <div class="col-md-6">
                Copyright © 2022 ElectroForums Community Edition. All rights reserved.
            </div>
            <div class="col-md-6 text-end">
                <span><b>ElectroForums</b> v1.0.0</span>
                <p class="text-success" style="font-weight: bold; font-size: 12px;">
                    <img src="{{ asset('bundles/electroforumstheme/images/updated-site.png') }}" class="mr-3">
                    This Site is Up-to-Date
                </p>
                <p>
                    <a href="#">Privacy Policy</a> &middot;
                    <a href="#">Account Activity</a> &middot;
                    <a href="https://github.com/elquchiri/electroforums/issues">Report an Issue</a>
                </p>
            </div>
        </div>
    </div>
</div>