{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="website-buttons pt-3 mb-4">
    <div class="d-grid">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary btn-sm add-category" id="root" data-ef-url="">
                New Root Website
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm add-category" id="subcategory" data-ef-url="">
                Configuration
            </button>
        </div>
    </div>
</div>
