{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="website-buttons mb-4">
    <button type="button" class="btn btn-outline-primary btn-sm" id="root" data-ef-url="">
        {{ block.trans('New Website') }}
    </button>
</div>
