<div class="ef-colapse">
    <div class="collapse show" id="baseConfig">
        <form>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Enable Category *</label>
                </div>
                <div class="col-6">
                    <div class="form-check form-switch">
                        <input class="form-check-input ef-checkbox-switcher" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Include in Menu *</label>
                </div>
                <div class="col-6">
                    <div class="form-check form-switch">
                        <input class="form-check-input ef-checkbox-switcher" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="category_name" class="col-form-label">Name</label>
                </div>
                <div class="col-6">
                    <input type="text" id="category_name" class="form-control" placeholder="Category Name" aria-describedby="category_name">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ef-colapse">
    <h5>
        <a class="" style="color: #000000" data-bs-toggle="collapse" href="#content" role="button" aria-expanded="false" aria-controls="collapseExample">
            Content
        </a>
    </h5>
    <div class="collapse ef-collapse-container" id="content">
        <div class="row mb-3">
            <div class="col-3 text-end">
                <label for="inputPassword6" class="col-form-label">Category Image</label>
            </div>
            <div class="col-6">
                <div class="btn-group mt-1" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-secondary btn-sm">Upload</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm">Select from Gallery</button>
                </div>
                <div id="emailHelp" class="form-text">Maximum file size: 4 MB. Allowed file types: JPG, GIF, PNG.</div>
            </div>
        </div>
    </div>
    <div class="collapse" id="content">
        <div class="row mb-3">
            <div class="col-3 text-end">
                <label for="inputPassword6" class="col-form-label">Description</label>
            </div>
            <div class="col-6">
                <textarea type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="ef-colapse">
    <h5>
        <a class="" style="color: #000000" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Display Settings
        </a>
    </h5>
    <div class="collapse ef-collapse-container" id="collapseExample">
        <form>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Display Mode</label>
                </div>
                <div class="col-6">
                    <select class="form-select">
                        <option value="1">Only Categories</option>
                        <option value="0" selected>Categories and Posts</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Sort Order</label>
                </div>
                <div class="col-6">
                    <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ef-colapse">
    <h5>
        <a class="" style="color: #000000" data-bs-toggle="collapse" href="#searchEngine" role="button" aria-expanded="false" aria-controls="collapseExample">
            Search Engine Optimization
        </a>
    </h5>
    <div class="collapse ef-collapse-container" id="searchEngine">
        <form>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Meta Title</label>
                </div>
                <div class="col-6">
                    <input type="text" id="inputPassword6" class="form-control" placeholder="Meta Title" aria-describedby="passwordHelpInline">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Meta Keywords</label>
                </div>
                <div class="col-6">
                    <input type="text" id="inputPassword6" class="form-control" placeholder="Meta Keywords, seperated by comas" aria-describedby="passwordHelpInline">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="inputPassword6" class="col-form-label">Meta Description</label>
                </div>
                <div class="col-6">
                    <textarea id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>