{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="notifications-container">
    {% for notification in block.getNotifications() %}
        {{ notification|raw }}
    {% endfor %}
</div>