/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

* {
  margin: 0;
}

@font-face {
  font-family: ProgramCMS;
  src: url("fonts/BlinkMacSystemFont-Medium.otf");
}

@font-face {
  font-family: ProgramCMS;
  src: url("fonts/BlinkMacSystemFont-Black.otf");
  font-weight: bold;
}

html, body {
  font-family: 'ProgramCMS', 'Arial', 'sans-serif';
  height: 100%;
}

a {
  text-decoration: none;
}

.page-wrapper {
  height: 100%;
}

.main-wrapper {
  height: 100%;
  margin-left: 83px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  .content-container {
    .side-col {
      padding-right: 15px;
    }
  }
}

.notices-notifications {
  padding: 0 21px 0 27px;
}

.page-main-actions {
  padding: 31px 21px 0 28px;
}

.messages-wrapper {
  padding: 11px 21px 0 28px;
  font-size: 14px;
}

.content {
  height: 100%;
}
.content .content-header {
  padding: 31px 21px 0 28px;
}
.content .content-header h2 {
  padding: 0;
  margin: 0;
}
.content .content-header .content-header-tip {
  color: #888;
  font-size: 12px;
  padding: 5px 0 0 5px;
}
.content .content-container {
  padding: 21px 21px 0 28px;
}