<div class="footer">
    <div class="footer-content">
        ElectroForums Community Edition &copy; 2022
        <p>v1.0.0 &middot; <span class="text-success">This Site is Up-to-Date</span></p>
    </div>
</div>