{% extends '@ElectroForumsTheme/frontend/layout.html.twig' %}

{% block title %}Welcome to ElectroForums !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/electroforumscms/css/frontend/home.cms.css') }}">
{% endblock %}

{% block page_title %}Home{% endblock %}
{% block page_tip %}Welcome to ElectroForums.{% endblock %}

{% block content %}
    <div class="container" style="padding: 21px;">
        <div class="row home-cms">
            <div class="col-md">
                {% include '@ElectroForumsForum/frontend/forums.view.html.twig' %}
            </div>
            <div class="col-md-auto home-cms-right-panel" style="width: 210px;">
                {% include '@ElectroForumsUser/frontend/authentication.html.twig' %}

                {% include '@ElectroForumsUser/frontend/online.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}