{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="input-group flex-nowrap justify-content-end ms-auto mt-2" style="width: 120px;">
    <button class="btn pagination-left-button" type="button" id="button-addon1"></button>
    <input type="text" style="width: 50px;" class="form-control text-center" value="1">
    <button class="btn pagination-right-button" type="button" id="ui-pagination"></button>
</div>