{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <input name="search" type="text" class="form-control"
                   placeholder="{{ block.trans('Search by Keyword ..') }}"/>
            <button class="btn" id="button-search"
                    style="border: 1px solid #CCC; padding-top: 0;">
                <img src="{{ asset('bundles/programcmsui/images/search.png') }}" alt=""/>
            </button>
        </div>
    </div>
</div>
