{#
/*
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */
#}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end pe-3"  style="margin-top: -25px;" id="navbarSupportedContent">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="btn btn-light fw-bold me-4" href="" data-bs-toggle="tooltip" data-bs-placement="left"
           title="Add New Post">
            <i class="bi bi-plus-circle-fill text-success me-1"></i>
            New
        </a>
    {% endif %}

    <div class="btn-group me-2">
        <a href="{{ block.getEditPostUrl() }}" class="btn btn-light fw-bold">
            <i class="bi bi-grid-fill"></i>
        </a>
        <a href="{{ block.getEditPostUrl() }}" class="btn btn-light fw-bold">
            <i class="bi bi-layout-text-window-reverse"></i>
        </a>
    </div>

    {% if is_granted('ProgramCmsCatalogBundle_catalog_category_edit_category', block.getCategory()) %}
        <div class="dropdown me-2">
            <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ asset('bundles/programcmspost/images/manage.png') }}"/>

            </button>
            <ul class="dropdown-menu dropdown-menu-end z-3">
                <li><a class="dropdown-item" href="#">Edit Category</a></li>
            </ul>
        </div>
    {% endif %}

    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ asset('bundles/programcmspost/images/more.png') }}" />
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">
                    <i class="bi bi-flag-fill me-1"></i>
                    Report
                </a></li>
            <li><hr class="dropdown-divider"></li>
            <p class="text-muted m-0 p-2 ps-3 fw-bold"><small>Export</small></p>
            <li><a class="dropdown-item" href="#">
                    <i class="bi bi-file-earmark-pdf-fill me-1"></i>
                    Export as PDF
                </a></li>
            <li><a class="dropdown-item" href="#">
                    <i class="bi bi-qr-code me-1"></i>
                    Generate QR Code
                </a></li>
        </ul>
    </div>
</div>