/*!
 * Copyright © ProgramCMS. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Developed by Mohamed EL QUCHIRI <elquchiri@gmail.com>
 */

.forum-navbar {
  font-size: 13px;

  a {
    color: #000000;
    text-align: center;
  }
}